* {
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    color: white;
}

body {
    background-color: black;
}

.ball{
    
    width: 100px;
    height: 100px;

    margin: auto;

    background-color: red;
    border-radius: 50%;
}