* {
    box-sizing: border-box;
    font-family:system-ui;
    text-align: center;
}

h1 {
    color: white;
}

body {
    background-color: black;
}

.ball{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    margin: auto;
    background-color: red;

    font-size: 22px;
    font-weight: bold;

    border-radius: 50%;
    transition: 1s;
}